@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&display=swap');

:root{
    --notabotC:#C0FFD0;
}
body {
    background-color: black;
    margin: auto;
    color: white;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

div.topBar {
    background-color: rgb(56, 56, 56);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
    border-bottom: solid rgb(145, 255, 191) 1px;
    padding: 1em;
}

div.content {
    padding-top: 5em;
    margin: 0em 2em 0em 2em
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flex>* {
    margin: 1em;
    padding: 1em;
    background-color: rgb(56, 56, 56);
    border-radius: 1em;
    flex: 1 1 10em;
    max-width: 35em;
    min-width: 20em;
}

.botname {
    font-weight: 900;
}

.description {
    font-weight: 400;
    max-width: 25em;
}

img.botLOGO {
    width: 10em;
    border-radius: 50%;
}

a {
    text-decoration: none;
    border-radius: 7px;
    border: 2px solid black;
    padding: 0.4em;
    font-weight: bolder;
}

a:link, a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    opacity: 86%;
}

a:visited {
    opacity: 90%;
}

div.lists{
    max-width: 75em;
    margin: auto;
}


@media(max-width:400px) {
    img.botLOGO {
        width: 100%;
        border-radius: 50%;
    }
    .flex > *{
        min-width: 0;
    }
    div.lists{
        font-size: small;
    }
}

.notabot {
    background-color: var(--notabotC);
}
